*{
    /* margin: auto; */
    padding: 0px;
    font-family: serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(10, 10, 88);
    margin-top: 50px;
    color: white;
}
.container{
    margin: 20% ;
    width: 90%;
    max-width: 700px;
    align-items: center;
}
.display{
    width: 100vw;
    margin-top: 0px;
    margin-bottom: 20px;
    /* background: #fff; */
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    border-radius: 5px;
}
.container h1 span{
    color: green;
    border-bottom: 4px solid;
    padding-bottom: 5px;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
    padding: 5px;
}
.container button {
    border: 0;
    outline:0;
    background: #019f55;
    color: #fff;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;

}
